.container{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

.click_item{
    cursor: pointer;
}

.dropdown_container{
    z-index: 999;
    position: absolute;
    color: #1A191D;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(26, 25, 29, 0.2);
    border-radius: 6px;

    /*opacity: 0;*/
    /*visibility: hidden;*/
    /*animation: fade-out .5s ease-in-out forwards;*/
    padding: 25px 17px;
    /*transition: opacity .5s ease-in-out;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: max-content;
    top: 175%;
    right: 0;

    gap: 10px;
}

.dropdown_container hr{
    width: 80%;
    opacity: .3;
    margin: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    gap: 15px;

    cursor: pointer;
}

.content:hover{
    color: #4a4aad;
}

.header{
    margin-bottom: 15px;
    color: #1A191D;

    display: flex;
    align-items: center;
    gap: 20px;
}

.info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.name{
    font-style: normal;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 19px !important;
}

.email{
    font-style: normal;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 14px !important;
}

.name, .email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.dropdown_container.hide:is([data-dont-animate="0"]) {
    animation: fade_out .5s ease-in-out forwards;
}

.dropdown_container.hide:is([data-dont-animate="1"]) {
    animation: fade_out 0s ease-in-out forwards;
}

.dropdown_container.show{
    animation: fade_in .5s ease-in-out forwards;
}

@keyframes fade_in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade_out {
    0%{
        opacity: 1;
    }
    99%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}