.container{
    position: relative;
    color: var(--data-color);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: var(--data-backgroundcolor);
    padding: 8px 20px;
    outline: 1px solid var(--data-outline);
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: all .4s ease-in-out;
}

.container img{
    /*position: absolute;*/
    /*left: 9%;*/
    max-width: 16px;
}

.container.disabled {
    user-select: none;
    pointer-events: none;
    opacity: .3;
}

.container:hover,
.container.selected{
    color: var(--data-colorhover);
    background: var(--data-backgroundcolorhover);
    cursor: pointer;
    outline: var(--data-outlinehover);
    transition: all .4s ease-in-out;
}

.container:hover img.need_revert{
    filter: invert();
}

.container.end_icon {
    flex-flow: row-reverse;
}
