.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 102px;
    position: relative;
    color: #1a191d;


    /*overflow: hidden;*/
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(26, 25, 29, 0.2);
    border-radius: 100px;
    z-index: 2;
}

.container.opened{
    padding-bottom: 30px;
}

.icon{
    position: absolute;
    right: 20px;
}

.content{
    /*box-shadow: 0px 2px 20px rgba(26, 25, 29, 0.2), 0 -5px 5px -5px transparent;*/
    z-index: 1;
    position: absolute;
    top: 58%;
    background: #FFFFFF;
    display: none;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 20px;
}

.container.opened .content{
    display: flex;
}

.container svg{
    transition: all .2s ease-in-out;
}

.container.opened svg{
    transform: rotateX(180deg);
}