*,
*::before,
*::after {
    box-sizing: border-box;
}

html{
    --header-height: 64px;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
video {
    max-width: 100%;
    height: auto;
}

html, body{
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    html, body{
        overflow-y: auto;
    }
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    appearance: none;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Remove table spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set a default width for images */
img {
    width: 100%;
}

@font-face {
    font-family: Manrope;
    src: url('./assets/fonts/Manrope-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Manrope;
    src: url('./assets/fonts/Manrope-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Manrope;
    src: url('./assets/fonts/Manrope-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Manrope;
    src: url('./assets/fonts/Manrope-Bold.ttf');
    font-weight: 700;
}

/*@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');*/

/*@font-face {*/
/*    font-family: Nunito Sans;*/
/*    src: url('./assets/fonts/NunitoSans_7pt_Condensed-Regular.ttf');*/
/*    font-weight: 400;*/
/*}*/

/*@font-face {*/
/*    font-family: Nunito Sans;*/
/*    src: url('./assets/fonts/NunitoSans_7pt_Condensed-Medium.ttf');*/
/*    font-weight: 500;*/
/*}*/

/*@font-face {*/
/*    font-family: Nunito Sans;*/
/*    src: url('./assets/fonts/NunitoSans_10pt_Condensed-SemiBold.ttf');*/
/*    font-weight: 600;*/
/*}*/

/*@font-face {*/
/*    font-family: Nunito Sans;*/
/*    src: url('./assets/fonts/NunitoSans_7pt_Condensed-Bold.ttf');*/
/*    font-weight: 700;*/
/*}*/

/*@font-face {*/
/*    font-family: Nunito Sans;*/
/*    src: url('./assets/fonts/NunitoSans_7pt_Condensed-ExtraBold.ttf');*/
/*    font-weight: 800;*/
/*}*/

/*@font-face {*/
/*    font-family: Nunito Sans;*/
/*    src: url('./assets/fonts/NunitoSans_7pt_Condensed-ExtraBoldItalic.ttf');*/
/*    font-weight: 800;*/
/*    font-style: italic;*/
/*}*/

#root{
    height: 100%;
}